@model MumsBlog.Models.IndividualButtonPartial
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px;">
    <div class="btn-group" role="group">
        <partial name="_IndividualButtonPartial" ,
                 model='new IndividualButtonPartial
            {
                Action ="Edit",
                ButtonType ="btn-primary",
                Fa ="edit",
                Text = "Edit Button",
                CategoryId = Model.CategoryId,
                CustomerId = Model.CustomerId,
                BlogPostId = Model.BlogPostId

            }' />

        <partial name="_IndividualButtonPartial" ,
                 model='new IndividualButtonPartial
            {
                Action = "Details",
                ButtonType = "btn-success",
                Fa = "list",
                Text = "Details Button",
                CategoryId = Model.CategoryId,
                CustomerId = Model.CustomerId,
                BlogPostId = Model.BlogPostId
            }' />

        <partial name="_IndividualButtonPartial" ,
                 model='new IndividualButtonPartial
            {
                Action = "Delete",
                ButtonType = "btn-danger",
                Fa = "trash",
                Text = "Delete Button",
                CategoryId = Model.CategoryId,
                CustomerId = Model.CustomerId,
                BlogPostId = Model.BlogPostId
            }' />
    </div>
</td>