@model MumsBlog.Models.BlogPost
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete BlogPost</h2>
<hr />


<fieldset disabled>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="form-group">
                    <label asp-for="PostTitle">Title</label>
                    <input asp-for="PostTitle" type="text" class="form-control form-control-lg" placeholder="Enter a title">
                </div>

                <div class="form-group">
                    <label asp-for="Author">Author</label>
                    <input asp-for="Author" type="text" class="form-control form-control-lg" placeholder="Enter Author's name">
                </div>

                @*<div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Blog Category</label>
                        <select asp-for="CategoryId" asp-items="@(new SelectList(Model.BlogCategories,"Id","Name"))" class="form-control"></select>
                    </div>*@

                <div class="form-group">
                    <label asp-for="Category" class="control-label">Blog Category</label>
                    <input asp-for="Category" type="text" class="form-control form-control-lg" placeholder="Enter Blog's Category">
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Blog Description</label>
                    <input asp-for="Description" type="text" class="form-control form-control-lg" placeholder="Enter a brief Description (100)">
                </div>

                <div class="form-group">
                    <label asp-for="DateAdded">Author</label>
                    <input asp-for="DateAdded" type="text" class="form-control form-control-lg" value="@DateTime.Now.ToShortDateString()">
                </div>

                <div class="form-group">
                    <label asp-for="Content">Your story</label>
                    <textarea asp-for="Content" rows="15" onkeyup="new do_resize(this);" class="form-control form-control-lg" placeholder="Enter a title"></textarea>
                </div>
                <input asp-for="UserId" type="hidden" />
            </div>
        </div>
    </div>
</fieldset>
<br />
<div class="form-group">
    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
    <a asp-action="Index" asp-route-userId="@Model.UserId" class="btn btn-sm btn-success">Back to List</a>
</div>
